@font-face {
  font-family: "Gosha Sans Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Gosha Sans Regular"), url("GoshaSansRegular.woff") format("woff");
}

@font-face {
  font-family: "Gosha Sans Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Gosha Sans Bold"), url("GoshaSansBold.woff") format("woff");
}

body {
  user-select: none;
}
.pageContainer {
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  font-family: "Gosha Sans Bold";
}

.header {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  font-size: 21px;
}

.diceType {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.game,
.navLink {
  margin-right: 35px;
  list-style: none;
  color: #003049;
  text-decoration: none;
  cursor: pointer;
}

.navLink::after {
  background: red;
  z-index: 2;
  transform-origin: center;
  content: "";
  display: block;
  width: 80%;
  transform: scaleX(0);
  height: 2px;
  background-color: white;
}

.navLink:hover::after {
  background: #f77f00;
  transform: scaleX(1);
  transition: 0.2s ease-in;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  padding: 0.5em 2em 0.5em 0.9em;
  cursor: pointer;
  color: rgb(70, 81, 88);
  font-family: "Gosha Sans Regular";
  font-size: 1em;
  border: 1px solid rgb(207, 210, 219);
  border-radius: 0.2em;
  background-color: rgb(250, 250, 250);
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMjAwJyBoZWlnaHQ9JzIwMCcgZmlsbD0iIzAwMDAwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHg9IjBweCIgeT0iMHB4Ij48cGF0aCBmaWxsPSIjMDAwMDAwIiBkPSJNMTIgMThsLTExLjAxOS0xMWgyMi4wMzh6Ii8+PC9zdmc+);
  background-size: 0.8em;
  background-repeat: no-repeat;
  background-position: calc(100% - 0.4em) center;
}

.activ {
  color: #f77f00;
}

.logo {
  width: 94px;
  max-height: 55px;
}

.titleGame {
  font-size: 25px;
  color: #f77f00;
}

.gameContainer {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}

.gameDescription {
  font-family: "Gosha Sans Regular";
  margin-top: 15px;
  font-size: 18px;
}

.gameDisplay {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.diceImage,
.diceImage2 {
  /* max-width: 10%; */
  width: 100px;
  height: 100px;
  margin: 10px;
}

.soloDice {
  width: 200px;
  height: 200px;
}

.diceText,
.diceText2 {
  color: #f77f00;
  margin-top: 20px;
  font-size: 20px;
}

.rollButton,
.rollButton2 {
  width: 120px;
  height: 30px;
  border: #f77f00 solid 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.2s ease;
}

.rollButton:hover,
.rollButton2:hover {
  background: #f77f00;
  transition: 0.2s ease;
}

.rollText {
  color: #f77f00;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: 0.2s ease;
}

.rollText:hover {
  color: #ffffff;
  transition: 0.2s ease;
}

.imageContainer {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.imageContainer2,
.imageContainer {
  margin-top: 70px;
}

.footerText {
  display: flex;
  justify-content: center;
  font-size: 15px;
  margin-top: 100px;
  font-family: "Gosha Sans Regular";
}

.bold {
  font-family: "Gosha Sans Bold";
  margin: 0px 5px;
  text-decoration: none;
}

.bold:visited {
  color: #003049;
}

.gameNumber {
  display: flex;
  flex-direction: column;
}

@keyframes spin_animation {
  0% {
    transform: rotate(0deg);
    filter: blur(4px);
  }
  100% {
    transform: rotate(-360deg);
    filter: blur(4px);
  }
}
@keyframes spin_animation2 {
  0% {
    transform: rotate(0deg);
    filter: blur(4px);
  }
  100% {
    transform: rotate(360deg);
    filter: blur(4px);
  }
}

@media only screen and (max-width: 600px) {
  /* 960px */
  .game {
    font-size: 15px;
    margin-right: 15px;
    width: 100%;
  }

  .footerText {
    font-size: 12px;
  }
}
